.app-wrapper {
   margin: 0 auto;
   max-width: 1900px;
   height: 100%;
   grid-template-areas: 
  " h h "
   "n c "
   ;
   display: grid;
   grid-template-rows: 60px 1fr;
   grid-template-columns: 20% 80%;
   grid-gap: 10px;
}

app-wrapper-content {
   grid-area: c;
   padding: 10px;
}


